
.createpage-container{
  width: 85%;
  margin: auto;
}

.blog-subtitle-input{
  width: 100%;
  outline: none;
  height: 3rem;
  border: none;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.1rem;
}

.blog-subtitle-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1.1rem;
}

.blog-title-input{
  width: 100%;
  outline: none;
  height: 3rem;
  border: none;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 2.5rem;
}

.blog-title-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Inter';
  font-weight: 800;
  font-size: 2.5rem;
}


.img-preview{
    height: 20rem;
    width: 95%;
    margin: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.tools-row{
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 10px;
}

.tools-row.txt-area{
  justify-content: end;
  margin-right: 20px;
}

